.content-change{
    height: 900px;
    overflow:auto;
}
.header-container {
    height: 80vh; /* 헤더의 전체 높이 설정 */
    display: flex;
    justify-content: center; /* 수평 방향 가운데 정렬 */
    align-items: center; /* 수직 방향 가운데 정렬 */
    background-color: #007bff; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}
 /* Custom CSS for matching heights */
 .select-container {
    display: flex;
    align-items: center;
}

.select-container select {
    height: 38px; /* Adjust this height as needed */
    margin-right: 5px; /* Optional: Add spacing between select and text */
}

.select-container .text-container {
    height: 38px; /* Match the height of select */
    line-height: 38px; /* Vertically center text */
}
/* .center-div{
            
    left:50%;
    transform: translate(30%);
} */
