<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>
    <div>
        
       카카오페이 결제가 정상적으로 완료되었습니다.
        
       결제일시:     [[${info.approved_at}]]<br/>
       주문번호:    [[${info.partner_order_id}]]<br/>
       상품명:    [[${info.item_name}]]<br/>
       상품수량:    [[${info.quantiy}]]<br/>
       결제금액:    [[${amount.total}]]<br/>
       세금:        [[${amount.vat}]]<br/>
       포인트:       [[${amount.point}]]<br/>
       할인:         [[${amount.discount}]]<br/>
       결제방법:    [[${info.payment_method_type}]]<br/>

    </div>
 
 
 

 <script>
     window.onload = function() {
        setTimeout(()=>{
        
        
            window.close();
        },2000);
      
    }
 </script>
</body>
</html>