<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="boardlist">
                <div class="container">
                <h2>게시판</h2>
                <div>총 건수 : <span ></span></div>
                <form class="form-inline d-flex justify-content-end" method="POST">
                    <div class="form-group mx-sm-3 mb-2">
                        
                        <input type="text" class="form-control findStr" id="searchText" name="searchText"
                            value=>
                    </div>
                    <button type="button" class="btn btn-light mb-2" onclick="boardSearch();">검색</button>
                    <button type="button" onclick="boardRegisterf();" class="btn btn-light mb-2">쓰기</button>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col-1">번호</th>
                            <th scope="col-5">제목</th>
                            <th scope="col-2">작성자</th>
                            <th scope="col-2">작성일</th>
                            <th scope="col-2">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="list: ${boards}" th:onclick="boardDetail([[${list.id}]]);">
                            <td th:text="${list.sno}">Mark</td>
                            <td th:text="${list.subject}">Otto</td>
                            <td th:text="${list.id}">홍길동</td>
                            <td th:text="${list.nal}">홍길동</td>
                            <td th:text="${list.hit}">홍길동</td>
                        </tr>
                    </tbody>
                </table>
                <div class="container d-flex justify-content-center">
                    <nav aria-label="페이지 네비게이션">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" >이전</a>
                        </li>
                        <li 
                            >
                            <a class="page-link pageAll" href="#" ></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" >다음</a>
                        </li>
                    </ul>
                </nav>
              
                </div>
                
            </div> 
        </div>
       
    </div>
</body>
</html>